@import "../../styles";

.sideBar {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  border-right: 2px solid $colorBorder;
}

h1 {
  @include textFormat(40px, $textColorPrimary);
  margin: 20px auto;
}
